<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.umc.accountbook.mapper.ExampleMapper">
    <select id="getExampleDomain" parameterType="Long" resultType="com.umc.accountbook.domain.ExampleDomain">
        SELECT ex_id, ex_name
        FROM ex_table
        WHERE ex_id = #{id}
    </select>

    <select id="getEssentialSpending" parameterType="int" resultType="com.umc.accountbook.domain.EssentialSpending">
        select * from
        essential_spending
        where es_id = #{es_id}
    </select>
</mapper>